<form>
  <h3 style="margin-bottom: 1.5rem;">Input type examples</h3>
  <div style="margin-bottom: 1.5rem;">
    <label style="display: block;">Label without inputmode</label>
    <input>
  </div>
  <div style="margin-bottom: 1.5rem;">
    <label style="display: block;">Label with numeric inputmode</label>
    <input inputmode="numeric">
  </div>
  <div style="margin-bottom: 1.5rem;">
    <label style="display: block;">Label with text inputmode</label>
    <input inputmode="text">
  </div>
</form>
